* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5rem;
}

.title {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 3rem;
}

section:nth-child(1) {
  background-color: rgba(0, 179, 0, 0.5);
}

section:nth-child(2) {
  background-color: rgba(255, 78, 146, 0.5);
}

section:nth-child(3) {
  background-color: rgba(36, 105, 255, 0.5);
}

form {
  padding: 2rem 0;
}